{{ define "title" }}Homepage{{ end }}

{{define "header" }}<!--noheader-->{{ end }}

{{ define "main" }}
<div class="index">
  <p>This entire thing is a WIP; please be patient for me to actually finish it</p>
  <h1>(AC)<sup>2</sup></h1>
  <p class="notop right"><em>= Ángel Axel Carbajal-Castañeda</em></p>
  <h4 class="right">I'm a math student that solves problems with code.</h4>
</div>

<h3>Featured Projects:</h3>

<figure>
  <a href="https://www.angel-castaneda.com" target="_blank" rel="noreferrer noopener">
    <img src="/static/img/angel-castaneda.com.png" alt="screenshot of personal site" title="angel-castaneda.com">
  </a>
  <figcaption><a href="/sites">View All Sites</a></figcaption>
</figure>

<figure>
  <a href="https://git.acsq.me/" target="_blank" rel="noreferrer noopener">
    <img src="/static/img/cgit.png" alt="screenshot of my self-hosted server" title="git.acsq.me">
  </a>
  <figcaption>Self-Hosted Git Server</figcaption>
</figure>

<figure>
  <a href="/claim-before.pdf" target="_blank" rel="noreferrer noopener">
    <img src="/static/img/claim_before_title.jpg" alt="title slide of claim before the storm presentation">
  </a>
  <figcaption>Presentation on Climate Change and Insurance</figcaption>
</figure>

<figure>
  
</figure>
{{ end }}
