{{ define "title" }}Homepage{{ end }}

{{define "header" }}<!--noheader-->{{ end }}

{{ define "main" }}
<div class="index">
  <h1>(AC)<sup>2</sup></h1>
  <p class="notop right"><em>= Ángel Axel Carbajal-Castañeda</em></p>
  <h4 class="right">I'm a math student that solves problems with code.</p>
</div>

<h3>Featured Projects:</h3>

<h4><a href="https://www.angel-castaneda.com" target="_blank" rel="noreferrer noopener">angel-castaneda.com</a></h4>

<h4><em>The Claim Before the Storm</em></h4>

<p>Sites</p>
{{ end }}
